body {
  color: lightslategray;
  font-family: 'Titillium Web', sans-serif;
  background-color: lightgray;
}

h2, p {
  text-align: center;

}


#about-title {
  color: rgb(5, 125, 245);
}


/* nav bar */

.nav-bar {
  text-align: center;
  background-color: rgb(119, 136, 153);
  width: 100%;
  color: white;
  margin: auto;
}
.nav-bar a{
  text-align: center;
  padding: 10px 15px;
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;
}
.nav-bar li {
  display: inline-block;
}
.sunglass-logo {
  width: 50px;
  height: 25px;
}

/* footer */

.footer {
  background-color: lightslategray;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
  margin: auto;
}


.footer li {
  display: inline-block;
  padding: 0px;
  margin: 5px
}

.footer img {
  width: 25px;
  height: 25px;
}